body{
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2em;
}
.flex-contenido{
    display: flex;
    flex-direction: column;
    padding-left:0.6em;
    padding-top: 0.6em;
    padding-right: 0.6em;
    padding-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    width: 18%;
    box-sizing: inherit;
    border-radius: 15px;
}
.flex-sombra:hover{
    box-shadow: 1px 1px 1px 1px rgb(224, 220, 220);
}
.img{
    width: 150px;
    clear: none;
    position: static;
    align-self: auto;
    flex-direction: unset;
    display: inline-flex;
    overflow: hidden;
    transition-duration: 0.5s;
}      
.titulo{
    margin-bottom: 16px;
    font-weight: 600;
    color:#5f3f2d ;
    font-size: 30px;
    text-align: center;
    font-family: 'Muli';
}
.base{
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-size: 0.72em;
    font-weight: 400;
    margin-top: 8px;
    color: #a84a4a;
    display: block;
}
.ground{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #764c24; 
}
.price{
    color: #5eb14d;
    font-size: 0.9em;
}