body{
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
}
.box{
    padding-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 1em;
    padding-bottom: 75px;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1200px;
}
.seccion{
    text-align: center;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    display: block;
}
.caja{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;

}
.flex-contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left:0.6em;
    padding-top: 0.6em;
    padding-right: 0.6em;
    padding-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    transition-duration: 0.4s;
    align-items: center;
    text-align: center;
    width: 18%;
    box-sizing: inherit;
    border-radius: 15px;
}
.flex-sombra:hover{
    box-shadow: 1px 1px 1px 1px rgb(224, 220, 220);
}
.img{
    width: 150px;
    clear: none;
    position: static;
    align-self: auto;
    flex-direction: unset;
    display: inline-flex;
    overflow: hidden;
    transition-duration: 0.5s;
}      
.titulo{
    margin-bottom: 16px;
    font-weight: 600;
    color:#583b29 ;
    font-size: 30px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    letter-spacing: -1px;
}
.base{
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-size: 0.72em;
    font-weight: 400;
    margin-top: 8px;
    color: #a84a4a;
    display: block;
}
.ground{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    color: #764c24; 
}
.price{
    color: #5eb14d;
    font-size: 0.9em;
}
.linea{
    background-color: #5f3f2d;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    display: block;
}
.seccion{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1200px;
}
.container{
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
    max-width: 1200px;
    width: 1000px;
    align-items: flex-start;
}
.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.6em;
    margin-right: 0.6em;
    padding-top: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-bottom: 0.6em;
    max-width: 10em;
    width: 10em;
    text-align: center;
    box-sizing: inherit;
}
.img{
    width: 2.6em;
    margin-bottom: 0.4em;
    max-width: 100%;
    border-style: none;
}
.letra{
    color: rgba(255,255,255,0.9);
    font-size: 0.86em;
    font-weight: 400;
    line-height: 1.3;
    display: block;
}
.ultimo{
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    display: block;
    box-sizing: inherit;
    text-align: center;
    background-color: #f0edeb;
}
.caja-stilo{
    padding-top: 3em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1200px;
    padding-left: 1em;
    padding-right: 1em;
}
.arriba{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
}
.abajo{
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    flex-wrap: nowrap;
}
.cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 12em;
    margin-left: 2em;
    margin-right: 2em;
    width: 9em;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.h4{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.1em; 
}
.texto{
    font-weight: 300;
    font-size: 0.9em;
    line-height: 0.8;
    text-align: left;
    display: block;
    font-family: 'Muli', sans-serif;
    color: rgb(133, 77, 52);
}
.stiker{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 12em;
    width: 9em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: nowrap;
    align-items: flex-start;
    text-align: left;
}
.abajo{
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    flex-wrap: nowrap;
    box-sizing: inherit;
}
.frase-arriba{
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: rgb(133, 77, 52);
}
.img-ultima{
    margin-bottom: 0px;
    max-width: 100%;
    border-style: none;
    text-align: center;
}
.frase-abajo{
    color: #764c24;
    font-size: 0.84em;
    padding-top: 0px;
    font-weight: 300;
    text-align: center;
    display: block;
}