.body {
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 20px;
}

.galeria {
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    display: grid;
    gap: 60px;
}

.pan1 {
    background-image: url(../imagenes/pan1.jpg);
    color: white;
    text-align: center;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan1:hover {
    background-image: url(../imagenes/pan1.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan2 {
    background-image: url(../imagenes/pan2.jpg);
    color: white;
    text-align: center;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan2:hover {
    background-image: url(../imagenes/pan2.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan3 {
    background-image: url(../imagenes/pan3.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    grid-column: 3;
    grid-row: 1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan3:hover {
    background-image: url(../imagenes/pan3.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan4 {
    background-image: url(../imagenes/pan4.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan4:hover {
    background-image: url(../imagenes/pan4.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan5 {
    background-image: url(../imagenes/pan5.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan5:hover {
    background-image: url(../imagenes/pan5.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan6 {
    background-image: url(../imagenes/pan6.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan6:hover {
    background-image: url(../imagenes/pan6.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan7 {
    background-image: url(../imagenes/pan7.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan7:hover {
    background-image: url(../imagenes/pan7.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan8 {
    background-image: url(../imagenes/pan8.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan8:hover {
    background-image: url(../imagenes/pan8.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.pan9 {
    background-image: url(../imagenes/pan9.jpg);
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.pan9:hover {
    background-image: url(../imagenes/pan9.jpg);
    transition: .5s;
    transform: scale(0.5);
}

.centrado {
    text-align: center;
}